.header {
    background-image: linear-gradient(rgb(235, 210, 171), rgb(238, 238, 175));
}
.logo {
    height: 400px;
    width: 500px;
}
.heading {
    color:crimson;
}
.navigation {
    background-color: rgba(169, 169, 169, 0.746);
}
.btn-nav {
    background-image: linear-gradient(rgb(216, 128, 145),rgb(209, 44, 77));
}